/****************************************************************************
  Stylesheet for the very basic fundamentals
****************************************************************************/


/* reset browser presets*/
* {
  box-sizing: border-box;
}
h1, div{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: Tahoma;
  padding: 20px;
  background-color: #F8F8F8;
}
hr{
  border: none;
  border-top: 5px dotted #55d255;
  width: 100%;
}
.divider10{
  height: 10px;
}

/* language selection menu - requires utils.js && messages.js*/
#selLangMenu {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  line-height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #005610;
  font-weight: 600;
}
#selLangMenu .languageItem{
  margin: 5px;
  border-radius: 3px;
  padding: 0px 3px 0px 3px;
}
#selLangMenu .languageItem:hover{
  cursor: pointer;
  background-color: #d8d8d8;
  color: #005610;  
}

/* page header*/
.basicLayoutHeader{
  width: 100%;
  white-space: nowrap;
}
.basicLayoutHeader .content > *{
  display: flex;
}
.basicLayoutHeader .content{
  display: flex;
  flex-flow: row nowrap;
  height: 70px;
  line-height: 70px;
}
.basicLayoutHeader .logo, .basicLayoutHeader .title{
  margin-right: 20px;
}
.basicLayoutHeader .logo{
  /*width: 70px;*/
  height: 70px;
}
.basicLayoutHeader .title{
  overflow: hidden;
  display: flex;
  align-items: baseline;
}
.basicLayoutHeader .title div{
  margin-right: 10px;
}
.basicLayoutHeader .actionItem{
  width: 30px;
  height: 30px;
  margin: auto;
  border-radius: 5px;
}
.basicLayoutHeader .actionItem:hover{
  cursor: pointer;
  background-color: #BFBFBF;
}

/* page content*/
.contentBody img{
  width: 30px;
  height: 30px;
  cursor: pointer;
  vertical-align: middle;
}
.row{
  display: flex;
  margin: 5px 0px;
  line-height: 2;
}
input[type="button"], input[type="text"], input[type="file"], button, .button{
  height: 36px;
}
input[type="button"], button, .button{
  font-size: 15px;
  border: 0;
  transition: .3s;
  padding: 0 16px;
  border-radius: 18px;
  line-height: 2;
  margin-right: 10px;
  cursor: pointer;
  color: #005610;
  background-color: #55d255;
  font-weight: 600;
}
button.secondary, .button.secondary, .button.icon{
  background-color: #ebebeb;
  border: 1px solid #55d255;
}
button.secondary:hover, .button.secondary:hover, .button.icon:hover, .button.menuItem:hover {
  background-color: #d8d8d8;
  color: #005610;
}
.button.icon {
  padding: 0px;
  display: flex;
  justify-content: center;
  width: 36px;
  margin: 0 auto 0 10px;
}
.button.menuItem {
  width: 30px;
  height: 30px;
  border: 1px solid #55d255;
  border-radius: 3px;
  font-size: 24px;
  line-height: 1;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  background-color: #f8f8f8;
}
.button.inline {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  font-size: 24px;
  background-color: transparent;
  font-weight: normal;
  border-radius: 0px;
  line-height: 1;
  height: 20px;
  /* width: 20px; */
  margin: 0px;
  z-index: 2;
}
.button.inline:hover{
  background-color: transparent;
  color:#55d255;
}
input[type="button"]:hover, button:hover, .button:hover {
  background-color: #005610;
  color: #55d255;
  transition: .2s;
}
input[type="text"]{
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color .15s ease-in-out;
}
input[type="text"]:focus{
  border-color: #55d255;
  /* fix for Chrome */
  outline: none;
}
input[type="button"]:disabled, button:disabled {
  color: #7F7F7F;
  background-color: #BFBFBF;
  cursor: not-allowed;
} 
ul{
  list-style-type: none;
  margin: 10px 0px 20px;
}
li{
	display: flex;
}
ul li::before {
  /*replaced standard discs with custom colored ones*/
  display: inline-block;
  width: 1em;
  margin-left: -2.5em;
  content: "\2022";
  color: #55d255;
}
ul li::after{
  margin-bottom: 5px;
}
label{
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
