body{
  padding: 0px;
  margin: 0 20px;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.titleCollapsed{
  margin-right: 10px;
	opacity: 0;
  max-width: 0px;
	transition: opacity .5s, max-width .8s ease;
}
.titleExpanded{
  opacity: 1;
  max-width: 100%;
}

.basicLayoutHeader, .menu{
  flex: 0 0 auto;  /*explicitly needed for IE to maintain flex-item heights*/
}
.contentBody, #resultsArea, #report{
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: hidden;
}
#results {
  /*compensate Creo-browser-status-bar at the bottom + some extra space*/
  margin-bottom: 40px;
}

h2{
  margin: 10px 0px 5px;
}
:-ms-input-placeholder {
  color:            #AAAAAA;
}
.nowrap{
  white-space:      nowrap;
}

.mainMenu {
    display: flex;
		justify-content: space-between;
}
.mainUI{
	display: flex;
	justify-content: space-around;
}
.verticalCenter{
	display: flex;
	align-items: center;
}
.flexAlignRight{
  margin-left: auto;
}

.generalInfoWrapper{
	height: 0px;
	width: 700px;
  /* special positioning to preserve box-shadow */
	position: absolute;
  transform: translate(0px, 33px);
	z-index: 5;
}
.generalInfo{
	height: 0px;
	overflow: hidden;
	background-color: #FFFFFF;
	opacity: 0;
	border-radius: 10px;
	transition: .2s all;
	padding-left: 10px;
  box-shadow: 3px 8px 13px 0 #00000055, 5px 13px 21px 0 #00000088;
  /* IE-fallback */
  box-shadow: 5px 13px 21px 0px rgba(0,0,0,0.53);
}
.generalInfoVisible{
	height: 320px;
	opacity: 1;
	transition: .2s all;
}

.resultWrapper{
  overflow: auto;
}

table tr{
  background-color: #FFFFFF;
}
#report td{
  height:           20px;
  font-size:        8pt;
  transform-origin: top;
  border-radius: 5px;
	position: relative;
	white-space: nowrap;
}
#report input::-ms-clear {
  display: none;
}
#report th, #report .tableTitle{
  background-color: #2c595d;
  color: #FFFFFF;
  text-align: left;
  vertical-align: top;
  font-size: 10pt;
  font-weight: bold;
  cursor: help;
}
#report .tableTitle td,
#report #results tr td{
  padding: 2px;
}
#report .rowSelectIcon{
  display:none;
  border-radius:3px;
}
#report .rowSelectIcon.default{
  display: flex;
  background-color:#D6D6D6;
}
#report .rowSelectIcon.selected{
  display: flex;
  background-color: #00B32D;
}


#report .expandIcon{
  transform: rotate(-90deg);
  transition: transform .2s ease;
}
#report .collapseIcon{
  transform: rotate(0deg);
  transition: transform .2s ease;
}

/*expand/collapse-effects of subtrees*/
.invisible{
  display: none;
}
#report .visible{
  display: table-row;
}
#report .fadeIn{
  animation: grow .3s ease-in;
}
@keyframes grow {
  0%{ transform: scaleY(0);}
  100%{transform: scaleY(1);}
}
#report .fadeOut{
  animation: shrink .3s ease-out;
}
@keyframes shrink {
  0%{ transform: scaleY(1);}
  100%{transform: scaleY(0);}
}
#report .subTable{ /*subtree-styling to synchronize position to toplevel-table*/
  margin:    -0px -6px -0px -3px;
}
#report .subTable tbody{ /*subtree-styling to synchronize position to toplevel-table*/
  margin:    -0px 0px -0px -1px;
}
/*cell highlights*/
#report .matName{
  height: 100%;
  width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
  padding: 0px 2px;
  margin: 0px;
  border: 1px solid transparent; /*hack for IE to fix that 1px vertical displacement without border*/
  font-size: 8pt;
}
.materialStateError{
  background-color: #FF9999;
  cursor: url('../img/error.cur'), url('img/error.cur'), auto;
}
.primaryInertia{
  background-color: #CCFF66;
}
.materialStateWarning{
  background-color: #FFDAAA;
	cursor: url('../img/alert.cur'), url('img/alert.cur'), auto;
}
.densityStateError{
  background-color: #FF9999;
	cursor: url('../img/error.cur'), url('img/error.cur'), auto;
}
.comparisonHeader{
  background-color: #BFBFBF;
  text-align: center;
  font-weight: bold;
}
/*row highlights*/
.asmTopLevel{
  background-color: #c6c7c1;
}
.asmGeneral{
  background-color: #a0cfd3;
}
/*markers for invalid results */
.gradientTransparent2Red{
  background: linear-gradient(to right, transparent 0%, transparent 82%, rgba(255,0,0,1) 100%);
  cursor: url('../img/alert.cur'), url('img/alert.cur'), auto;
}
.gradientLightRed2Red{
  background: linear-gradient(to right, rgba(255,153,153,1) 0%, rgba(255,153,153,1) 82%, rgba(255,0,0,1) 100%);
  background-color: #FF9999;
  cursor: url('../img/alert.cur'), url('img/alert.cur'), auto;
}

.iconCollapsed{
  transform:        rotateZ(0deg);
  transition:       transform 0.3s ease;
}
.iconExpanded{
  transform:        rotateZ(-90deg);
  transition:       transform 0.3s ease;
}

.vTop {            /* align all sub-elements vertically on top */
  vertical-align:   top;
}
.colorLegend{
  font-size:        10pt;
  padding-left:     5px;
}
.colorLegend td{
  padding: 2px 5px;
  border-radius: 5px;
}

.clickable{  /*resultfields which values can be copied*/
  cursor:           pointer;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.clickable:hover{
  background-color: #55d255;
}


.menu input{
  width:            0px;
  height:           30px;
  margin:           0px;
  padding:          0px;
  vertical-align:   middle;
  display:          none;
  opacity:          0;
  transition:       opacity 0.2s ease, width 0.2s cubic-bezier(.43,1.12,.7,1.23);
}
.menu .inputVisible{
  display:          inline-block;
  width:            240px;
  opacity:          1;
  border-radius:    3px;
  transition:       opacity 0.3s ease, width 0.3s cubic-bezier(.43,1.12,.7,1.23);
}
.menu{
  height:           30px; 
  border-radius:    3px;
  margin-bottom:    3px;
  display: flex;
  flex-flow: row;
  padding-left: 2px;
}
.menu *{
  border-radius: 3px;
}
.menu>span{
  /* margin-right: 5px; */
}
.menu .container{
  /* padding: 0px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.menu .searchIcon{
  z-index: 2;
  margin-right: -30px;
}
.menu .searchInput{
  padding-left: 35px;;
}
.menu .searchInput:enabled{
  background-color: #d8ffd8;
}

.flash{
  animation-name:   flash;
  animation-duration: 1.5s;
}
@keyframes flash {
  0%   {background-color: none;}
  15%  {background-color: #FF9999;}
  100% {background-color: none;}
}
.pulse{
  animation-name: pulse;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 4;
  animation-direction: alternate;
}
@keyframes pulse {
  to { transform: scale(1.5) translateX(10px);}
}

/*inline buttons (actions, material-edit)*/
.editable{ 
  cursor:           pointer;
  margin: 0px 2px;
}
.button.inline.action{
  margin: 0px 2px;
}
.iconsRight{
  justify-content: flex-end;
}
.cancel{
  /*margin-left: 0px;*/
}
.ok{
  /* freeze parent-width for long material names */
  position: absolute;
  right: 24px;
  /* fix vertical position for IE */
  top: 0px;
}
.materialModified{
	background-color: #00B32D;
	cursor: default;
}
.densityUpdated{
	background-color: #4CD2FF;
	cursor: default;
}

/* ##### settings */
.settings{
    overflow-y: auto;
    max-height: 500px;
    user-select: none;
}
.settings .option{
    display: flex;
    flex-direction: column;
    margin: 0 0 15px 0;
}
.settings input{
    margin: 0px 10px 0px 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 3px;
}
.settings label{
    font-size: 14px;
}
.settings .description{
    margin-left: 30px;
    color: grey;
    font-size: 12px;
    width: 500px;
}

/*##### custom dialogs for user interaction */
.dlgUserInteract{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  height: auto;
  width: auto;
  max-width: 80%;
  max-height: 90%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
  
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 3px 8px 13px 0 #00000055, 5px 13px 21px 0 #00000088;
  /* IE-fallback */
  box-shadow: 5px 13px 21px 0px rgba(0,0,0,0.53);
}
.dlgUserInteract .dlgButtonContainer,
.dlgUserInteract .dlgTitle{
  display: flex;
  flex-direction: row;
  cursor: move;
}
.dlgUserInteract .dlgTitle{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.dlgUserInteract .dlgMessage{
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
}

.dlgUserInteract .dlgButtonContainer{
  margin-top: 20px;
  justify-content: flex-end;
}
.dlgUserInteract button{
  margin-left: 10px;
}
.dlgUserInteract #optionsForInvalidMaterials{
	max-height: 30vh;
	overflow-y: auto;
}
.dlgUserInteract.warning{
  background-color: #F4E19D;
}
.dlgUserInteract.error{
  background-color: #F98496;
}
.dlgUserInteract.info{
	background-color: #d8ffd8;
}
.dlgUserInteract .repairConditions td{
    height: 15px;
    border-radius: 5px;
    padding: 0px 5px;
    font-size: 14px;
}
.dlgUserInteract .repairConditions input{
    height: 100%;
}
.dlgUserInteract .repairConditions tr td:first-child{
  width: 280px;
}
.dlgUserInteract .sectionHeader{
  margin: 5px 0 10px 0;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}
.dlgUserInteract .codeArea{
  max-height: 30vh;
  background-color: #1E1E1E;
  color: #6CCEFC;
  font-family: Consolas;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre;
}
.dlgUserInteract .inlineWarning{
  margin: 0px;
  padding: 5px 5px 5px 35px;
  font-size: 12px;
}

.materialGroupPivot{
  font-size: 12px;
}
.materialGroupPivot td {
  padding: 2px;
  border-radius: 3px;
  background-color: #f8f8f8;
  text-align: right;
  vertical-align: top;
}

.actionItems{
    position: absolute;
    display: flex;
    top: -2px;
}

.loadScreen{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(206, 206, 206, .69);
  top: 0px;
  left: 0px;
  z-index: 555;
}
.loadMessageContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.loadIcon{
  animation: bounce 1s linear infinite;
  z-index: 555;
  width: 200px;
  height: 200px;
}
.loadText{
  font-size: 20px;
  white-space: pre-line;
  text-align: center;
  background-color: rgba(255,255,255,.85);
  padding: 20px;
  border-radius: 10px;
}
.blurBackground{
    filter: blur(3px); /*for non-IE browsers only*/
}

.bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.26, 0.85, 0.42, 1);
}
@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.8,1.1)   translateY(-23px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  58%  { transform: scale(1,1)      translateY(-8px); }
  67%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

.autoCompleteContainer {
  background-color: #f8f8f8;
  max-height: 300px;
  min-height: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  z-index: 55;
  position: absolute;
  align-self: flex-start;
  /* width: 200px; */
  font-size: 12px;
}
.autoCompleteContainer > div{
  padding: 0px 5px;
}
.autoCompleteContainer > div:hover,
.autoCompleteContainer > div.active{
  background-color: #ddd;
  cursor: pointer;
}