/*==================================
    Basic element setup
    200212 kda: removed global settings for html/body --> too much influence on other layouts
    200221 kda: modified icon positions after switch from bootstrap Glyphicons (fonts) to Google material icons (SVG) 
====================================*/
html, body {
  /*width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: Roboto, sans-serif;
  font-size: 14px;*/
}

/*==================================
    Body content
====================================*/
.body-container {
  margin-top: 15%;
  text-align: center;
  box-sizing: border-box;
}

.alert-button {
  display: block;
  background-color: #3473c1;
  border-radius: 2px;
  margin: 0 auto 10px;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  width: 145px;
  height: 45px;
  border: none;
  cursor: pointer;
  outline: none;
}

.alert-button:hover {
  background-color: #3a5a8d;
}

.alert-button:active {
  background-color: #3473c1;
}

/*==================================
    Alert container
====================================*/
#lala-alert-container {
  position: fixed;
  height: auto;
  width: 350px;
  top: 80px;
  right: 0;
  /* dnk: increase z-index to keep alerts always on top of all other elements */
  z-index: 500;
}

#lala-alert-wrapper {
  height: auto;
  /* dnk: move padding as margin to .lala-alert */
  /* padding: 15px; */
}

/*==================================
    Alerts
====================================*/

.lala-alert {
  position: relative;
  padding: 5px 40px 5px;
  font-size: 15px;
  white-space:normal;
  margin-top: 15px;
  opacity: 1;
  line-height: 1.4;
  border-radius: 5px;
  border: 1px solid ;
  cursor: default;
  transition: all 0.5s ease-in-out;   /* Edit for fadeout time */
  user-select: none;          /* Likely future */
  margin: 15px;
}

.lala-alert span {
	opacity: 0.7;
	transition: all 0.2s ease-in-out;   /* Edit for fadeout time */
}

.lala-alert span:hover {
	opacity: 1.0;
}

.alert-success {
  color: #196600;
  border-color: #196600;
  background-color: #B2FF99;
}

.alert-success > span {
	color: #0b6f5e;
}

.alert-info {
	color: #0059B3;
  border-color: #0059B3;
	background-color: #73DCFF;
}

.alert-info > span {
	color: #1e4567;
}

.alert-warning {
  color: #666600;
  border-color: #666600;    
  background-color: #ffee9e;
}

.alert-warning > span {
	color: #8a6d3b;
}

.alert-danger {
  color: #661A00;
  border-color: #661A00;      
  background-color: #FF9999;
}

.alert-danger > span {
	color: #6f1414;
}

.close-alert-x {
  position: absolute;
  float: right;
  top: 3px;
  right: 5px;
  cursor: pointer;
  outline: none;
}

/*200224 kda: modified to fit requirements for svg icons instead of fonts from glyphicons*/
.alert-sign{
  position: absolute;
  top: 3px;
  left: 5px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.fade-out {
  opacity: 0;
}

/*==================================
    Alert Animation
====================================*/
.animation-target {
  animation: animation 1500ms linear both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/BKCT19 */

@keyframes animation {
  0%     { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 250, 0, 0, 1); }
  3.14%   { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 160.737, 0, 0, 1); }
  4.3%     { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 132.565, 0, 0, 1); }
  6.27%   { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 91.357, 0, 0, 1); }
  8.61%   { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 51.939, 0, 0, 1); }
  9.41%   { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 40.599, 0, 0, 1); }
  12.48% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 6.498, 0, 0, 1); }
  12.91% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.807, 0, 0, 1); }
  16.22% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -17.027, 0, 0, 1); }
  17.22% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -20.404, 0, 0, 1); }
  19.95% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -24.473, 0, 0, 1); }
  23.69% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.178, 0, 0, 1); }
  27.36% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -13.259, 0, 0, 1); }
  28.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -11.027, 0, 0, 1); }
  34.77% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.142, 0, 0, 1); }
  39.44% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.725, 0, 0, 1); }
  42.18% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.675, 0, 0, 1); }
  56.99% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.202, 0, 0, 1); }
  61.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.223, 0, 0, 1); }
  66.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.104, 0, 0, 1); }
  83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.01, 0, 0, 1); }
  100%     { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}
/*
@keyframes animation {
  0%     { transform: translateY(250    ); }
  3.14%   { transform: translateY(160.737); }
  4.3%     { transform: translateY(132.565); }
  6.27%   { transform: translateY(91.357 ); }
  8.61%   { transform: translateY(51.939 ); }
  9.41%   { transform: translateY(40.599 ); }
  12.48% { transform: translateY(6.498  ); }
  12.91% { transform: translateY(2.807  ); }
  16.22% { transform: translateY(-17.027); }
  17.22% { transform: translateY(-20.404); }
  19.95% { transform: translateY(-24.473); }
  23.69% { transform: translateY(-21.178); }
  27.36% { transform: translateY(-13.259); }
  28.33% { transform: translateY(-11.027); }
  34.77% { transform: translateY(0.142  ); }
  39.44% { transform: translateY(2.725  ); }
  42.18% { transform: translateY(2.675  ); }
  56.99% { transform: translateY(-0.202 ); }
  61.66% { transform: translateY(-0.223 ); }
  66.67% { transform: translateY(-0.104 ); }
  83.98% { transform: translateY(0.01   ); }
  100%     { transform: translateY(0      ); }
}*/
